mixin monitoria(img, mt, nm, lg, fc, dr, pr, inf, btn, btntx, dsb)
	section.box.card.box-margin(class= dsb ? 'box-disabled' : '')
		a(href="#").box-h-section.box-header
			img(src= img).picture
			.box-v-section.box-justify-center.gutter-0
				p.sub-title= mt
				p= nm
		section.box-v-section
			p.box-data(name='Lugar: ')= lg
			p.box-data(name='Fecha: ')= fc
			p.box-data(name='Duración: ')= dr
			p.box-data(name='Precio por estudiante: ')= pr
		section.box-v-section.box-footer.box-align-center
			p.box-data= inf
			if(!dsb)
				button(class= btn)= btntx

mixin subject(sbj, prt, n, vpr, vpb, nmax)
	section.box.card.box-margin
		a(href="#").box-v-section.box-header
			p.sub-title= sbj
			.ranking
				.fst &#x2606&#x2606&#x2606&#x2606&#x2606
				.scd(style='width: ' + prt + '%;') &#x2605&#x2605&#x2605&#x2605&#x2605
				.value= prt + ' / 100'
				.data= n + ' monitorias dictadas'
		section.box-v-section
			p.box-data Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ut saepe neque, atque corporis magnam perspiciatis expedita, exercitationem adipisci modi?
		section.box-v-section.box-align-center
			p.box-data(name= vpr + ' / hora privada' data-tooltip-long='Solo tu y el monitor' data-tooltip-short= '(x1)')
			p.box-data(name= vpb + ' / hora publica' data-tooltip-long='Maximo ' + nmax + ' personas' data-tooltip-short= '(x' + nmax + ')')
		section.box-h-section.box-footer.box-justify-center
			button.join-button Pedir una monitoria
