mixin monitoria(img, mt, nm, lg, fc, dr, pr, inf, btn, btntx)
	section.box
		section.box-header
			img(src= img).picture
			.box-info
				label.title= mt
				p= nm
		section.box-content
			p.box-data(data-name='Lugar: ')= lg
			p.box-data(data-name='Fecha: ')= fc
			p.box-data(data-name='Duración: ')= dr
			p.box-data(data-name='Precio: ')= pr
		section.box-footer
			p.box-data= inf
			button(class= btn).monitoria-button= btntx

mixin notification(img, nm, dsc, dt)
	section.box
		section.box-flex-content
			img(src= img).picture
			.box-info
				label.title.ntf-user= nm
				p.box-data= dsc
				p.box-data-fixed= dt
